.modal-btn {
  display: inline-flex;

  margin: 0, auto;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
